footer { 
    h4{
        font-size: 1.414rem;
        padding: 0.5rem 2rem;
        color: $darkbrown;
    }
    p{
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: $darkgrey;
    }
    .fa-circle{
        color: $darkgrey;
    }
    h4[lang=de]{
       display:block;
    }
    h4[lang=en],
    h4[lang=ar],
    h4[lang=ru]{
        display:none;
    }
}
