.bg-header{
    background-color: #fff;
    background-color:$lightblue;
    color: #222;
    border-bottom:1rem solid $medblue;
    border-top:1rem solid $darkblue;
    position: relative;

    &:before,
    &:after{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $darkblue;
    }
        &:before{
        left:0;
    }
    &:after{
        right:0;
    }
    header{
        width: 400px; 
        margin: 0 auto;
        position: relative;

        h1, nav, nav>ul li{
            width: 100%;
        }
        h1{
             padding: 0 2rem;
        }
        nav>ul li{
            float: none;
        }
        nav{
            padding:2rem 0;
            clear: both;
        }
         nav>ul>li>a{
            display:block;
            text-align: center;
            text-decoration: none;
            color: #222;    
            font-size: 1.414rem;
            letter-spacing: 0.25rem;
            border:1px solid $lightgrey; 
            border-bottom: none;
            padding:1.0rem 2rem;
            line-height: 1;
            background-color: #fff;
        }
        nav>ul>li>a:hover{
            font-weight: 700;
            color:$darkbrown;
        }
        h1{
            color: $darkbrown;
            letter-spacing: 0.1rem;
        }
        h1 i.fa-lg{
            display:block;
            width: 25%;
            float:left;
            font-size: 7rem;
            line-height: 12.7936rem;
            color: $lightbrown;
        }
        h1 i.fa-lg ~ span{
            float: right;
            width: 75%;
            font-size: 3.998rem;
            /**
            2 lines of 3.998 * 1.6 = 12.7936
            **/
            padding-left: 1rem;
            text-align: right;
        }
    }
}
